.body {
  color: #FFF;
  margin: 0;
  height: 100vh;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode:both;
  animation-fill-mode: both;
  -webkit-animation-duration:.4s;
  animation-duration:.4s;
}

.indexBody {
background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.bioOuter {
  height: 100vh;
}

.titleText {
  padding-top: 15vh;
  height: 40vh;
  font-size: 11em;
  font-family: 'Lobster', serif;
}

.titleTextPositioning {
  margin: 0 auto;
  width: 800px;
  transform: rotate(-12deg);
  text-shadow: -4px 3px 11px rgba(0, 0, 0, 0.17);
}

.bioLinks {
  height: 7vh;
  width: calc(7vh * 3.2);
  margin: 0 auto;
}

.bioLinks svg {
  height: 7vh;
  width: 7vh;
}

.bioLinks path {
  fill: #FFF;
}

.bioLinks svg:hover path{
  fill: #93d46a;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 40.063em) {


}
@media only screen and (min-width: 64.063em) {


}
